@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #090909;
    --foreground: #ffffff;
    --accent: #03d5f8;
    --muted: rgba(255, 255, 255, 0.6);
    --highlight: linear-gradient(270deg, #ffe5d1 0%, #c9f5ff 100.51%);
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply w-full min-h-screen bg-background text-foreground text-base font-normal overflow-x-hidden;
  }
  h1 {
    @apply text-4xl lg:text-[58px] font-medium leading-tight;
  }
  h2 {
    @apply text-5xl lg:text-[56px] font-bold leading-tight;
  }
  h3 {
    @apply text-[30px] font-semibold leading-tight;
  }
}

@layer components {
  body > header > div {
    position: relative;
  }
  .btn-primary {
    @apply bg-accent px-12 py-4 rounded-[45px] font-semibold text-black uppercase;
  }
  .btn-secondary {
    @apply bg-[rgba(255,255,255,0.06)] backdrop-blur-[30px] px-12 py-4 rounded-[45px] font-semibold uppercase;
  }
}

@media (min-width: 1024px) {
  .container {
    @apply px-[6rem];
  }
}
